header
  div.button.header_button.header_button_save.transition_all3 Save
  a(href="/samples").button.header_button.transition_all3 Smaples
article
  div.scene
  audio(src="/music/mv.ogg",controls)#audio
aside.hidden
  div.gear

  canvas(width="256",height="256")#formants_circle_canvas.formants_circle_canvas
  canvas(width="256",height="256")#formants_bar_canvas.formants_bar_canvas
  canvas(width="500",height="256")#spectrum_canvas.spectrum_canvas
footer


