article
  div.browser Sorry dude... this hack is not working yet in your browser. <br> <a href="https://www.google.com/chrome">Just download chrome ;)</a>
aside.hidden
  img(src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuXW")
  div.gear
    span.icon_tools
    span For geeks
    span.icon_tools
  div.hh
    //canvas(width="256",height="256")#formants_circle_canvas.formants_circle_canvas
    //canvas(width="256",height="256")#formants_bar_canvas.formants_bar_canvas
    canvas(width="500",height="256")#spectrum_canvas.spectrum_canvas
    input.c(value="130;180",data-letter="i",data-channel="0")
    input.c(value="40;190",data-letter="a",data-channel="0")
    input.c(value="80;130",data-letter="o",data-channel="0")
    input.c(value="0;24",data-letter="bass",data-channel="1")
    input.c(value="488;496",data-letter="strobo",data-channel="1")
    input.c(value="70;75",data-letter="middle",data-channel="1")
    div.close.large.button.orange Close



